./tools
./pkg/zonal_filt
./pkg/sphere
./pkg/mnc
./pkg/showflops
./pkg/offline
./pkg/runclock
./pkg/obcs
./pkg/generic_advdiff
./pkg/shelfice
./pkg/admtlm
./pkg/ctrl
./pkg/frazil
./pkg/pkg_groups
./pkg/embed_files
./pkg/exch2
./pkg/fizhi
./pkg/rw
./pkg/cfc
./pkg/pp81
./pkg/ggl90
./pkg/matrix
./pkg/aim_compon_interf
./pkg/thsice
./pkg/land
./pkg/grdchk
./pkg/mom_common
./pkg/gchem
./pkg/kpp
./pkg/my82
./pkg/cost
./pkg/opps
./pkg/seaice
./pkg/profiles
./pkg/timeave
./pkg/layers
./pkg/ptracers
./pkg/gridalt
./pkg/mom_fluxform
./pkg/aim_v23
./pkg/longstep
./pkg/pkg_depend
./pkg/ecco
./pkg/rbcs
./pkg/debug
./pkg/diagnostics
./pkg/mypackage
./pkg/ocn_compon_interf
./pkg/chronos
./pkg/bulk_force
./pkg/autodiff
./pkg/monitor
./pkg/mom_vecinv
./pkg/atm_common
./pkg/shap_filt
./pkg/atm_ocn_coupler
./pkg/cd_code
./pkg/cal
./pkg/smooth
./pkg/gmredi
./pkg/compon_communic
./pkg/exf
./pkg/down_slope
./pkg/dic
./pkg/flt
./pkg/ebm
./pkg/atm2d
./pkg/salt_plume
./pkg/icefront
./pkg/sbo
./pkg/mdsio
./pkg/bbl
./pkg/regrid
./pkg/cheapaml
./model
./verification/testreport
./bin
./utils
./optim
./lsopt
./eesupp
./jobs
verification/*/build/*
verification/*/run/*
verification/tr_*
